extends layout1

block content

    
    section#banner
      h1 Balvinder Singh Sethi
      .inner
         .flex.flex-4(style='position:absolute;top:60px;left:100px;')
           .box.person
             .image.round
                img(src="../../images/IMG_7885.JPG", alt='Person 1')
             h3    &nbsp &nbsp  HELLO #{users}
