doctype html
html
  title Quiz Time
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='https://www.w3schools.com/lib/w3.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat')
  meta(name='viewport', content='width=device-width, initial-scale=1')   
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')  
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')   
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  style.
    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
    .w3-navbar,h1,button {font-family: "Montserrat", sans-serif}
    .fa-anchor,.fa-coffee {font-size:200px}
    .a{color: #000000 }
  body(background='../../images/quizback.jpg')
    // Navbar
    .w3-top
      ul.w3-navbar.w3-white.w3-card-2.w3-left-align.w3-large
        li.w3-hide-medium.w3-hide-large.w3-opennav.w3-right
          a.w3-padding-large.w3-hover-white.w3-large.w3-red(href='javascript:void(0);', onclick='myFunction()', title='Toggle Navigation Menu')
            i.fa.fa-bars
        |     
        li
          a.w3-padding-large.w3-hover-black(href='/') Home
        if !use     
         li.w3-hide-small
           a.w3-padding-large.w3-hover-black(href='/users/register') Register
         |    
         li.w3-hide-small
           a.w3-padding-large.w3-hover-black(href='/users/login') Login
         |     
         li.w3-hide-small
           a.w3-padding-large.w3-hover-black(href='/about') About Me
        if use
         li.w3-hide-small
           a.w3-padding-large.w3-hover-black(href='/users/quiz') Take Quiz
         |              
         li.w3-hide-small
           a.w3-padding-large.w3-hover-black(href='/users/logout1') Logout
      // Navbar on small screens
      #navDemo.w3-hide.w3-hide-large.w3-hide-medium
        ul.w3-navbar.w3-left-align.w3-large.w3-black
          li
            a.w3-padding-large(href='/users/register') Register
          |       
          li
            a.w3-padding-large(href='/users/login') Login
          |       
          li
            a.w3-padding-large(href='/about') About Me
          |       
          li
            a.w3-padding-large(href='/users/logout') Logout
    // Header
  block content
