extends layout
block content
  title Select Topic
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway')
  style.
    body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    .w3-third img{margin-bottom: -6px; opacity: 0.8; cursor: pointer}
    .w3-third img:hover{opacity: 1}
  //
    Top menu on small scree
    <!-- Overlay effect when opening sidebar on small screens
  // !PAGE CONTENT!
  .w3-main(style='margin-top:50px')
    // Push down content on small screens
    .w3-hide-large(style='margin-top:403px')
    // Photo grid
    .w3-row
      .w3-third
       a(href='/users/getdata/2')
        img(src='../../images/history.jpg', style='width:100%', onclick='onClick(this)', alt='A boy surrounded by beautiful nature')
       a(href='/users/getdata/3') 
        img(src='../../images/literature.jpg', style='width:100%', onclick='onClick(this)', alt='What a beautiful scenery this sunset')
       a(href='/users/getdata/4') 
        img(src='../../images/movies.jpg', style='width:100%', onclick='onClick(this)', alt='Quiet day at the beach. Cold, but beautiful')
        
      .w3-third
       a(href='/users/getdata/5') 
        img(src='../../images/geography.png', style='width:100%', onclick='onClick(this)', alt='Quiet day at the beach. Cold, but beautiful')
       a(href='/users/getdata/1') 
        img(src='../../images/maths.jpg', style='width:100%', onclick='onClick(this)', alt='Waiting for the bus in the desert')
        
      .w3-third
       a(href='/users/getdata/6')
        img(src='../../images/sports.png', style='width:100%', onclick='onClick(this)', alt='Quiet day at the beach. Cold, but beautiful')
       a(href='/users/getdata/7') 
        img(src='../../images/politics.jpg', style='width:100%', onclick='onClick(this)', alt='Waiting for the bus in the desert')
       a(href='/users/getdata/8') 
        img(src='../../images/Science.png', style='width:100%', onclick='onClick(this)', alt='A boy surrounded by beautiful nature')
        